@import "../node_modules/ol/ol.css";

* {
    box-sizing: content-box;
}
body, html {
    height: 100%;
    margin: 0;
}
/*MapComponent*/
#map-div {
    height: 100vh;
}
/*Default zoom in/out buttons*/
.ol-zoom-in, .ol-zoom-out{
    padding: 0.4vh 0.55vw !important;
    outline: 0.2vh solid grey !important;
    cursor: pointer;
}
.ol-zoom-in:hover, .ol-zoom-out:hover {
    background-color: rgb(211, 211, 211, 0.8);
}
.switch-field {
    display: flex;
}

    .switch-field input {
        position: absolute;
        height: 1px;
        width: 1px;
        border: 0;
    }

    .switch-field label {
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        line-height: 1;
        text-align: center;
        padding: 1vh 1vw;
        border: 0.1vh solid grey;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        transition: all 0.1s ease-in-out;
    }

        .switch-field label:hover {
            cursor: pointer;
        }

    .switch-field input:checked + label {
        background-color: #a5dc86;
        box-shadow: none;
    }

    .switch-field label:first-of-type {
        border-radius: 0.4vh 0 0 0.4vh;
    }

    .switch-field label:last-of-type {
        border-radius: 0 0.4vh 0.4vh 0;
    }
/*OverlayComponent*/

.overlay-comp {
    position: absolute;
    z-index: 2;
    left: 0.5vw;
    top: 10vh;
}
    .overlay-comp button {
        padding: 0.8vh 0.8vw !important;
        cursor: pointer;
    }
    .overlay-comp button:hover {
        background-color: rgb(211, 211, 211, 0.8);
    }

.overlay-comp_upload_div {
    display: flex;
}
.overlay-comp_upload_form {
    background-color: white;
    border: 0.1vh solid grey;
    border-radius: 0.4vh;
}
    .overlay-comp_upload_form form input{
        padding: 0.8vh 0;
        width: 25vw;
    }
.overlay-comp_units {
    position: absolute;
    z-index: 2;
    left: 4vw;
    top: 1.1vh;
}
.overlay-comp_units2 {
    position: absolute;
    z-index: 2;
    left: 12vw;
    top: 1.1vh;
}
.overlay-comp_inputs {
}